@import "tailwindcss";

@font-face {
  font-family: ClashDisplay;
  src: url("/fonts/ClashDisplay-Regular.otf") format("opentype");
}
@font-face {
  font-family: Helvetica;
  src: url("/fonts/Helvetica.ttf") format("truetype");
}

@theme {
  --font-Helvetica: "Helvetica";
  --font-ClashDisplay: "ClashDisplay";
}